# Q1

Consider the given NumPy arrays a and b. What will be the value of c after the following code is executed?

In [9]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

# Q2

Given the string s as shown below, which of the following expressions will be True?

In [10]:
import re
s = 'ABCAC'

In [11]:
# op1
bool(re.match('A', s)) == True

True

In [12]:
# op2
re.match('A', s) == True

False

In [13]:
# op3
len(re.search('A', s)) == 2

TypeError: object of type 're.Match' has no len()

In [14]:
# op4
len(re.split('A', s)) == 2

False

# Q3

Consider a string s. We want to find all characters (other than A) which are followed by triple A, i.e., have AAA to the right. We donâ€™t want to include the triple A in the output and just want the character immediately preceding AAA . Complete the code given below that would output the required result.

In [16]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '(\w)(?=[A]{3})'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

result()

['C', 'F', 'B']

# Q4

Consider the following 4 expressions regarding the above pandas Series df. All of them have the same value except one expression. Can you identify which one it is?

In [17]:
# df.index[0]

# Q5 

Consider the two pandas Series objects shown above, representing the no. of items of different yogurt flavors that were sold in a day from two different stores, s1 and s2. Which of the following statements is True regarding the Series s3 defined below?

In [22]:
import pandas as pd

s1 = pd.Series({'Mango': 20,
                  'Strawberry': 15,
                  'Blueberry': 18,
                  'Vanilla': 31})
s1

Mango         20
Strawberry    15
Blueberry     18
Vanilla       31
dtype: int64

In [23]:
s2 = pd.Series({'Strawberry': 20,
                  'Vanilla': 30,
                  'Banana': 15,
                  'Mango': 210,
                   'Plain':20})
s2

Strawberry     20
Vanilla        30
Banana         15
Mango         210
Plain          20
dtype: int64

In [25]:
s3 = s1.add(s2)
s3

Banana          NaN
Blueberry       NaN
Mango         230.0
Plain           NaN
Strawberry     35.0
Vanilla        61.0
dtype: float64

In [28]:
# op1
s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango']

True

In [29]:
# op2
s3['Plain'] >= s3['Mango']

False

In [31]:
# op3
s3['Blueberry'] == s1.add(s2, fill_value = 0)['Blueberry']

False

In [32]:
# op4
s3['Blueberry'] == s1['Blueberry']

False

# Q6

In the following list of statements regarding a DataFrame df, one or more statements are correct. Can you identify all the correct statements?

Every time we call df.set_index(), the old index will be discarded.

Every time we call df.reset_index(), the old index will be set as a new column.

# Q7 

Consider the Series object S defined below. Which of the following is an incorrect way to slice S such that we obtain all data points corresponding to the indices 'b', 'c', and 'd'?

In [35]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [36]:
# op 1
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [37]:
# op2
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [38]:
# op3
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [39]:
# op4
S[1:4]

b    1
c    2
d    3
dtype: int32

# Q8

Consider the DataFrame df shown above with indexes 'R1', 'R2', 'R3', and 'R4'.  In the following code, a new DataFrame df_new is created using df. What will be the value of df_new[1] after the below code is executed?

In [51]:
df = pd.DataFrame({'a':[5,5,71,67],
                  'b':[6,82,31,37],
                  'c':[20,28,92,49]}, index=['R1', 'R2', 'R3', 'R4'])
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

In [53]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new

a     76
b     88
c    112
dtype: int64

Remember, when a lambda function is applied to df and the value of axis is not indicated, by default the function will be applied to the columns of the DataFrame. To use the function on rows instead of columns, you need to specify axis = 'columns' or axis = 1.

In [45]:
# ans: 87 (WRONG)

In [ ]:
# ans: 88

# Q9

Consider the DataFrame named new_df shown above. Which of the following expressions will output the result (showing the head of a DataFrame) below?

In [43]:
# new_df.unstack() (WRONG)

When we unstack the new_df, we will move the inner most row to the lowermost column, as a result, we will have no index in the row, and get a Series.

In [54]:
# new_df.stack() (WRONG)

When we stack the new_df, we will move the lowermost column to the inner most row. So we will get a dataframe with multiple index 'country' and 'Rank_Level'.

In [ ]:
#new_df.stack().stack(WRONG)

When we stack the new_df twice, we will move both two column index to row, as a result, we will get a Series.

In [55]:
# new_df.unstack().unstack() (CORRECT)

When we unstack the new_df first time, we will get a Series with triple row index, when we unstack this Series again, the inner most row, which is actually the previous country, will be moved to the column index again.

# Q10

Consider the DataFrame df shown above. What will be the output (rounded to the nearest integer) when the following code related to df is executed:

Groupby will create two groups from this df which correspond to item_1 and item_2. Calling sum() will add the quantities sold for each item across all 3 stores (A, B and C). iloc[0] will get the first row, which corresponds to item_1 and the sum of 'Quantity sold' values for item_1 will be calculated ignoring NaN, which comes out to be 30.

In [44]:
# ans: 30