In [1]:
import pandas as pd

### Convert a list of strings to Series

In [3]:
# a list of 3 students
students = ['Alice', 'Jack', 'Molly']

# call the Series function in pandas and pass in the students
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

### Convert a list of numbers to Series

In [5]:
numbers = [1,2,3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

### Convert a list of strings to Series with last element None

In [6]:
# recreate list of students, with None as the last element
students = ['Alice', 'Jack', None]

# convert to Series, which will still be type object
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

### Convert a list of numbers to Series with last element None


If we have a list of numbers, integers or floats, and put in the None type, pandas will convert this to a special floating point value called NaN (Not a Number).

Pandas represent NaN as floating point number, because integers can be typecast to floats, pandas went and convert integer to floats.

NaN is NOT None.

In [8]:
# recreate list of numbers, with None as the last element
numbers = [1,2,None]

# convert to Series
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [11]:
import numpy as np

# generate NaN value and compare with None
np.nan == None

False

In [10]:
# Cannot do equality test of NaN to itself. Answer is always False.
np.nan == np.nan

False

In [12]:
# use special function isnan to test for presence of NaN
np.isnan(np.nan)

True

In [14]:
# create a Series from dictionary
# index is the keys of the dict, it will not be incrementing integers
students_scores ={'Alice': 'Physics',
                 'Jack': 'Chemistry',
                  'Molly': 'English'}

s = pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [15]:
# once Series has been created, we can get the index object
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [16]:
# a list of tuples
students = [('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [17]:
# you can pass in the index as a list explicitly to a Series
s = pd.Series(['Physics', 'Chemistry', 'English'], index=['Alice', 'Jack', 'Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [19]:
# if the list of values in index object are not aligned with the keys in dict for creating the series,
# pandas overrides to favour only and all of the indices values that you provided.
# it ignore keys which are not index in dict, and add None or Nan for any index not in dict key list
students_scores ={'Alice': 'Physics',
                 'Jack': 'Chemistry',
                  'Molly': 'English'}

s = pd.Series(students_scores, index=['Alice', 'Jack', 'Sam'])

s

Alice      Physics
Jack     Chemistry
Sam            NaN
dtype: object